<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the home page</title>
</head>
<body>
    <div>
        <form method="post" action="/add">
            <!--name=... - имя параметра, который мы отправляем в PostMapping-->
            <input type="text" name="text" placeholder="Введите сообщеие"/>
            <input type="text" name="tag" placeholder="Тэг"/>
            <button type="submit">Добавить</button>
        </form>
    </div>

    <b>Список сообщений:</b>
    <form method="post" action="filterMapping"> <!--Так как этот mapping уже занят, то добавляем новый - action=... -->
        <input type="text" name="filter">
        <button type="submit">Найти</button>
    </form>

    {{#messages}}
    <div>
        <b>{{id}}</b>
        <span>{{text}}</span>
        <i>{{tag}}</i>
    </div>
    {{/messages}}
</body>
</html>