<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Sarafan</title>-->
    <!--&lt;!&ndash; версия для разработки, включает отображение полезных предупреждений в консоли &ndash;&gt;-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
    <!--<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>-->
    <!--<script th:inline="javascript">-->
        <!--var frontendData = [[${frontendData}]];-->
    <!--</script>-->
<!--</head>-->
<!--<body>-->
<!--<h3>Sarafan</h3>-->
<!--<div id="app"></div>-->
<!--<script src="/js/main.js"></script>-->
<!--</body>-->
<!--</html>-->